<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="./../../../assets/logo agencia.png" alt="" width="70" height="70"
                class="d-inline-block align-text-top">
            <span class="d-inline-block ms-2">Agencia</span>
        </a>
        <ul class="navbar-nav ms-auto flex-row">
            <li class="nav-item">
                <a class="nav-link me-3" href="#">Personas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link me-3" href="#">Autos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link me-3" href="#">Modelos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link me-3" href="#">Cerrar Sesion</a>
            </li>
        </ul>
    </div>
</nav>